/* #Reset & Basics (Inspired by E. Meyers)
================================================== 
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

================================================== */

.right1  {   float: right;   line-height: 1em;    }
.right15 {   float: right;   line-height: 1.5em;  }
.right2  {   float: right;   line-height: 2em;    }
.right25 {   float: right;   line-height: 2.5em;  }
.right3  {   float: right;   line-height: 3em;    }
.right35 {   float: right;   line-height: 3.5em;  }
.right4  {   float: right;   line-height: 4em;    }
.right45 {   float: right;   line-height: 4.5em;  }
.right5  {   float: right;   line-height: 5em;    }
.right55 {   float: right;   line-height: 5.5em;  }
.right6  {   float: right;   line-height: 6em;    }
.right65 {   float: right;   line-height: 6.5em;  }
.right7  {   float: right;   line-height: 7em;    }


ol.upper_roman {list-style-type: upper-roman;}
ol.upper_alpha {list-style-type: upper-alpha;}
ol.lower_roman {list-style-type: lower-roman;}
ol.lower_alpha {list-style-type: lower-alpha;}


html {border: 0}


body { 
	border: 0;
	padding: 0px 0px 0px 0px;
	background-color: #fafaf5;
	color: #000000;
	font-family: sans-serif;
}


#main_content {
  padding:5px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}


a {
	text-decoration: none;
	position: relative;
	display:inline-block;
    	cursor: pointer !important;
}

a img { border: none; }

a:after {content:""; position:absolute; top:0; left:0; bottom:0; right:0;}

.imgdropshadow {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
        box-shadow: 1px 1px 5px #888;
}

.imghoverdropshadow {
	margin: 5px;
	border: solid 1px #EFEFEF;
}

a:hover img.imghoverdropshadow {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

h2 {padding-top: 10px}

hr {
  color: #000000;
  background-color: #000000;
  height: 2px;
  margin: 0px 0px 0px 0px; /* Remove gap on either side of line */
  border: none; /* Otherwise Firefox will show a gray border */
}

#googlesearch {
	float:right;
	padding: 5px 5px 0px 0px;
	line-height: 200%
}


#maintitle { 
	border-top: 2px solid #000000; 
	xxxheight: 80px;
}

#subtitle2 {
	background: #333333;
	//color: #ffffff;
	padding: 0% 0% 0% 0%;
	font-weight: normal;
	font-size: 110%;
	//line-height: 100%;
	width: 100%;
}


#subtitle {
	background: #000077;
	color: #ffffff;
	padding-left: 1%;
	font-weight: normal;
	font-size: 110%;
	line-height: 240%;
	width: 99%;
}

#subtitle a {
	color: #ffffff;
	font-weight: bold;
}

#floatright {
	display: table-cell;
	vertical-align: middle;
	padding: 7px 5px 0px 10px;
	float: right;
}


.bottom_left_box {
	float: left;
	color: #000000;
	line-height: 135%;
	background: #e0eeff; 
	font-size: 90%; 
	width: 28%;
	border: solid 2px #000000;
	padding: 0px 10px 20px 20px;
	margin-top: 30px;
	margin-left: 2%;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}


.bottom_center_box {
	color: #000000;
	line-height: 130%;
	background: #ccffcc; 
	font-size: 90%; 
	width: 28%;
	border: solid 2px #000000;
	padding: 0px 10px 20px 20px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

.bottom_right_box {
	float: right;
	color: #000000;
	line-height: 127%;
	background: #99dd99; 
	font-size: 90%; 
	width: 28%;
	border: solid 2px #000000;
	padding: 0px 10px 20px 20px;
	margin-top: 30px;
	margin-right: 2%;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}


.round_box_on_left {
  float: left;
  color: #000000;
  width: 28%;
  border: solid 2px #000000;
  padding:0px 10px 20px 20px;
  margin-top: 30px;
  margin-left:  1%;
  margin-right: 0%;
  margin-bottom: 50px;
  background: #eeeeff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

.round_box_on_right {
  float:right;
  width:350px;
  border: solid 2px #000080;
  padding:0px 10px 20px 20px;
  margin: 5px 0px 5px 20px;
  background: #eeeeff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  clear:both ;
}


.boxedcontent {
  border: solid 2px #000080;
  padding:  0px 20px 20px 50px;
  margin:  30px 0px 20px 0px;
  background: #fafaf5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  clear:both ;
}


.equation_definition {
	padding-left: 55px;
	line-height: 175%;
}

.equation_definition .where {
	position: absolute;
	left: 14px;
}


.caption {
	font-size: 80%;
}

.containerdiv {
	position: absolute;
}

.boxedcontenticon {
	position: absolute;
	top: 12px;
	left: -42px;
}

.flagged {
	color: #ff0000;
	font-weight: bold;
}

#nav_footer {
	clear: both;
	margin-top: 10px;
	padding-top:15px;
	border-top: 2px solid #000000;
}
#nav_footer2 {
	clear: both;
	margin-top: 10px;
	padding-top:10px;
	padding-bottom:5px;
	border-top: 2px solid #000000;
}

.nav_footer_left {
	position: absolute;
	float: left;
	text-align: left;
}

.nav_footer_right {
	position: absolute;
	float: right;
	width: 97%;
	text-align: right;
}

.nav_footer_center {
	padding-top: 3px;
	text-align: center;
}


