.SUPPORT_CLAMPED button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_clamped.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SUPPORT_CLAMPED_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_clamped.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SUPPORT_NORMAL_FORCE button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_normal.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SUPPORT_NORMAL_FORCE_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_normal.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SUPPORT_TRANSVERSE_FORCE button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_transverse.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SUPPORT_TRANSVERSE_FORCE_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_transverse.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SUPPORT_FIXED_CONTINUOUS button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_fixed_conti.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SUPPORT_FIXED_CONTINUOUS_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_fixed_conti.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SUPPORT_FIXED_JOINT button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_fixed_joint.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SUPPORT_FIXED_JOINT_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_fixed_joint.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SUPPORT_ROLLER_CONTINUOUS button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_roller_conti.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SUPPORT_ROLLER_CONTINUOUS_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_roller_conti.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SUPPORT_ROLLER_JOINT button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_roller_joint.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SUPPORT_ROLLER_JOINT_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/support_roller_joint.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SPRING_SUPPORT button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/spring_support.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SPRING_SUPPORT_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/spring_support.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SPRING_MOMENT_SUPPORT button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/spring_moment.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SPRING_MOMENT_SUPPORT_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/spring_moment.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.NODE button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/node.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.NODE_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/node.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.JOINT button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/joint.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.JOINT_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/joint.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.JOINT_NORMAL_FORCE button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/joint_normal.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.JOINT_NORMAL_FORCE_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/joint_normal.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.JOINT_TRANSVERSE_FORCE button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/joint_transverse.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.JOINT_TRANSVERSE_FORCE_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/joint_transverse.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.SPRING button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/spring.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.SPRING_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/spring.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.ROD button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/rod.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.ROD_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/rod.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.BEAM button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/beam.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.BEAM_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/beam.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.LOAD_POINT button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/load_point.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.LOAD_POINT_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/load_point.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.LOAD_MOMENT button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/moment.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.LOAD_MOMENT_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/moment.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.LOAD_LINE button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/load_line.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.LOAD_LINE_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/load_line.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.LOAD_TEMP button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/load_temp.png);
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}
.LOAD_TEMP_selected button.bk.bk-btn.bk-btn-default {
    background-image: url(System_of_Beams/static/images/load_temp.png);
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: contain;
    border:5px solid white;
}

.MSG_BOX {
    width: 400px;
    height: 200px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    text_align: right
    overflow-x: hidden;
    overflow-y: auto;
    transform: rotate(180deg);
    direction: rtl;
}
ul{
    direction: ltr;
    overflow: hidden;
    transform: rotate(180deg);
}
.MSG_BOX_RED {
    background-color: #FF4500;
    width: 400px;
    height: 200px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    text_align: right
    overflow-x: hidden;
    overflow-y: auto;
    transform: rotate(180deg);
    direction: rtl;
}
.MSG_BOX_ORANGE {
    background-color: #FFA500;
    width: 400px;
    height: 200px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    text_align: right
    overflow-x: hidden;
    overflow-y: auto;
    transform: rotate(180deg);
    direction: rtl;
}

.ELEMENT_INFO_BOX {
    background-color: #DCDCDC;
    border-radius: 5px;
}

.ELINFO_VERTICAL_TEXT {
    transform: rotate(-90deg);
}